$white                              : white;
$orange                             : rgb(255, 79, 10);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Roboto:wght@300&display=swap');
@import url(//db.onlinewebfonts.com/c/23bd28c1783b15f0a40dcf9447e44813?family=AntagometricaBTW01-Regular);
$font-family-sans-serif             : 'Roboto', sans-serif; 
$font-family-sans-serif-2           : 'Montserrat', sans-serif;
$font                               : 'Antagometric', 'sans-serif';                              
$breakpoint-mobile: 650px;
$breakpoint-tablet: 1200px;

html {
    scroll-behavior: smooth;
  }
  
// FIRST SECTION
#home {
    width                           : auto;
    height                          : 630px;
    background-image                : url(/assets/images/banner-1.jpeg);
    background-repeat               : no-repeat;
    background-size                 : cover;
    position                        : relative;
    .navbar{
        margin-top                  : 20px;
        #navbarLink{
            a{
                padding             : 20px;
            }
            a:hover {
                background-color    : orange;   
            }
        }
    }

    .hero-body{
        .container{
            .title{
                margin-top          : 119px;
                font-family: $font;
            }
            .subtitle{
                margin-top          : 10px;
            }
            #signupBtn{
                background-color    : $orange;
            }
        }
    }
    #logo{
        height                      : 140px;
        width                       : auto;
    }
    #links{
        font-size                   : 14px;
        font-family                 : $font-family-sans-serif;
    }
    #signupBtn{
        width                       : 280px;
        color                       : $white;
    }
}
//ABOUT US SECTION
#aboutus{
    margin                          : 80px;
    .columns {
        #aboutusTitle{
            font-size               : 27px;
            font-family             : $font-family-sans-serif;
            font-weight             : 300;
        }
        .name{
            font-size               : 16px;
            text-align              : center;
            font-weight             : 600;
        }
        .cards {
            align-self              : normal;
            .card-image {
                #personImg{
                    filter          : grayscale(100%);
                }
            }
            .personInfo {
                font-size           : 15px;
                text-align          : center;
                display             : -webkit-box;
                -webkit-line-clamp  : 5;
                -webkit-box-orient  : vertical;
                overflow            : hidden;
            }
        }
    }
}

//ConvX
#convx{
    // background-image                : url(/assets/images/img-quote.jpeg);
    background                      : linear-gradient(rgba(0, 0, 0, 0.589), rgba(0, 0, 0, 0.582) ), 
                                    url(/assets/images/img-quote.jpeg);
    height                          : 430px;
    width                           : 100%;
    background-size                 : cover;
    background-repeat               : no-repeat;
    .logoandtext{
        margin                      : 90px;
        #logo2, p{
            display                 : block;
            margin                  : auto;
            height                  : 100px;
            width                   : auto;
            margin-bottom           : 13px;
            text-align              : center;
            font-size               : 40px;
            font-weight             : 200;
        }
    }
}

//HOW IT WORKS
#howitworks{
    background                      : url(/assets/images/img-howitworks-2.jpeg);
    background-size                 : contain;
    background-repeat               : no-repeat;
    width                           : 100%;
    .hiwTitle{
        font-size                   : 33px;
        font-weight                 : 220;
    }
    p, li{
        color                       : black;
        list-style-type             : none;
        margin-top                  : 10px;
        font-size                   : 14px;
    }
    li:before{
        content                     : url(/assets/images/bulb.svg); //icons/image before li
        display                     : inline-block;
        margin-left                 : -1.3em; 
        width                       : 1.7rem; 
    }
}

//CONTACT INFO
.contactinfo {
    .title {
        font-weight                 : 100;
        font-family                 : $font-family-sans-serif;
    }
    .content{
        margin                      : 40px;
    }
}

//FOOTER
.footer{
    p {
        color                       : rgb(34, 31, 31);
        margin                      : 10px;
        font-weight                 : 460;
    }
    .liFooter {
        size                        : 20rem;
    }
}

//mobile
@media only screen and (max-width: $breakpoint-mobile) {
    #howitworks{
        background                  : unset;
    }
}

@media only screen and (max-width: $breakpoint-tablet) { 
    #howitworks{
        background                  : unset;
    }
}